[Unit]
Description=Make v4l2loopback default camera on /dev/video0

[Service]
Type=oneshot
ExecStart=/etc/swapcam.sh
ExecStop=/etc/swapcam.sh -r
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
